body{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(360deg, green,black);

}

.omnitrix{

    display: flex;
    justify-content: center;
    align-items: center;

}

#fundo{

    width: 250px;
    height: 250px;
    border-radius: 300px;
    background-color: #AAF127;
    display: flex;
    justify-content: left;
    align-items: center;


}

.poligonos{

    width: 100px;
    height: 170px;
    background-color: black;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    border-radius:  70% 0 0 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

#poligono2{

    transform: rotate(180deg);
    position: absolute;
    margin-left: 150px;
    
}

.poligonosd{

    width: 90px;
    height: 130px;
    background-color: gray;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    border-radius:  70% 0 0 70%;
    position: absolute;
    visibility: hidden;

    

}

#circulo{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
    width: 260px;
    height: 260px;
    background-color: black;
    position: absolute;


}

#circulo2{

    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;

}

#circulo3{

    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;


}

#circulo4{


    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;

}

.esferas{

    background-color: #0e0d0d;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    position: absolute;

}

#esfera01{

    margin-bottom: 329px;

}

#esfera02{

    margin-right: 330px;


}

#esfera03{

    margin-left: 330px;

}

#esfera04{

    margin-top: 329px;

}

#argola2{

    height: 390px;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: url(omnitrix.png);
    background-size: cover;
    position: absolute;
    
}


.omnitrix2Girar{

    animation-name: girar;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes girar{

    100%{transform: rotate(90deg);}
}
